Source: arpreq
Section: python
Priority: optional
Maintainer: Sebastian Schrader <sebastian.schrader@agdsn.de>
Build-Depends: debhelper (>= 9),
 dh-python,
 pypy,
 pypy-dev,
 pypy-ipaddress,
 pypy-pytest,
 pypy-setuptools,
 python-all-dev,
 python-ipaddr,
 python-ipaddress,
 python-netaddr,
 python-pytest,
 python-pytest-runner,
 python-setuptools,
 python3-all-dev,
 python3-netaddr,
 python3-pytest,
 python3-pytest-runner,
 python3-setuptools,
Standards-Version: 3.9.8
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.3
Homepage: https://github.com/sebschrader/python-arpreq

Package: pypy-arpreq
Architecture: any
Depends: ${pypy:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Query the Kernel's ARP cache for the MAC address corresponding to an IP address
 Pypy package.

Package: python-arpreq
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Query the Kernel's ARP cache for the MAC address corresponding to an IP address
 Python ${python:Versions} package.

Package: python3-arpreq
Architecture: any
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python3:Provides}
Description: Query the Kernel's ARP cache for the MAC address corresponding to an IP address
 Python ${python3:Versions} package.
